<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Examples: Template</title>

    <!-- <script type="text/javascript" src="/firebug-lite/build/firebug-lite.js"></script> -->
    <script type="text/javascript" src="../../lib/weakmap.poly.js"></script>
    <script type="text/javascript" src="../../lib/observe.poly.js"></script>
    <script type="text/javascript" src="../../lib/observe.js"></script>
    <script type="text/javascript" src="../../js/observe.js"></script>

    <script type="text/javascript" src="../../lib/mustache.js"></script>
    <script type="text/javascript" src="../../js/template.js"></script>
</head>
<body>

    <div name="Ganesha" age="10">
        <template>
            <table>
                <tr data-field-value="{{ name }}">
                    <td>Name</td>
                    <td>{{ name }}</td>
                </tr>
                <tr>
                    <td>Age1</td>
                    <td>{{ age }}</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>{{ age }}</td>
                </tr>
            </table>

            <br>
            Your skills are:
            <ul>
                <template each="{{ skills }}">
                    <li>{{ }}</li>
                </template>
            </ul>
        </template>
    </div>

    <script type="text/javascript">
        (function() {
            "use strict";

            window.template = pants.template(document.querySelector('template'));
            window.div = {};

            var divs = [
                {
                    name: 'Yudhistira',
                    age: 30,
                    skills: [
                        'bijaksana',
                        'adil'
                    ]
                },
                {
                    name: 'Bima',
                    age: 28,
                    skills: [
                        'kuat',
                        'jujur'
                    ]
                },
                {
                    name: 'Arjuna',
                    age: 25,
                    skills: [
                        'memanah',
                        'tampan'
                    ]
                },
                {
                    name: 'Nakula',
                    age: 20,
                    skills: [
                        'pedang'
                    ]
                },
                {
                    name: 'Sadewa',
                    age: 20,
                    skills: [
                        'sangkur'
                    ]
                }

            ];

            document.addEventListener('DOMContentLoaded', function() {
                for(var i in divs[0]) {
                    div[i] = divs[0][i];
                }

                var x = 0;
                setTimeout(function() {
                    x++;
                    x = x % 5;
                    for(var i in divs[x]) {
                        div[i] = divs[x][i];
                    }
                }, 2000);

                // div.skills = [{
                //     name: "memanah"
                // }, {
                //     name: "memanjat pohon"
                // }];
                template.bind(div);

                // setTimeout(function() {
                //     div.name = 'huer';
                // }, 1000);
            });
        })();
    </script>
</body>
</html>
